<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2>ERROR! ERROR!</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
   <%= f.label :password, 'Please input password' %><br />
   <%= f.password_field :password %>
</div>
  <div class="actions">
    <%= f.submit 'Enter', class: 'button ' %>
  </div>
<% end %>
